.form-control:hover{
background-color:#8ec2b1 ;
text-shadow: 1px 1px rgb(235, 232, 232);
}



/* style for home and all student navbar */
.btn-all:hover{
    background-color: #8ec2b1;
    text-shadow: 1px 1px rgb(235, 232, 232);
    
}
/* background color for buttons */
.btn-all{
    background-color: #457b9d;
    color: #282b28;
}
/* background color for jumbotron */
.backgr-color{
    background-color:#8ec2b1 
}

/* background color for all student */
#back-style{
    background-color:#8ec2b1 ;

}
/* colors for firstname and last anem in adminadd.html */
.label-color{
    color: #282b28;
    text-shadow: 1px 1px #457b9d;
}
.backg-color{
    background-color: #faf3dd;
}
.font-style{
    color: #282b28; 
    
}
/* background color for student Marks in update.html  */
#backStu-style{
    background-color:#8ec2b1 ;
}
/* give style to fonts in all.js by adding class */
.fontBack-style{
    color:#457b9d;
    font-family: 'Assistant', sans-serif;
    text-shadow: 1px 1px #264653;
    background-color: #faf3dd;
    font-weight: normal;
    
    
}
/* give style to buttons in all.js by adding class * */
.btn-color{

    background-color:#457b9d; 
    text-shadow: 1px 1px black;
    color:white;
}
/* giving colors to the homecontact navbar */
.btn1-all{
    color:white;
    text-shadow: 1px 1px black;
  }
.font-size{
    font-size: 1.7rem;
}
/* give stylr navbar on transcript */
#btn-create {
    background-color:#457b9d; 
    text-shadow: 1px 1px black;
    color:white;
   
    
}
/* give background color on navbar on transcript */
.backgro-col{
    background-color:#457b9d;   
}
/* give style admin.html navabr
 */
 .fontcolor{
    color:white;
    text-shadow: 1px 1px black;
 }